[submodule "Alamofire-SwiftyJSON"]
	path = Alamofire-SwiftyJSON
	url = https://github.com/SwiftyJSON/Alamofire-SwiftyJSON.git
[submodule "Markingbird"]
	path = Markingbird
	url = https://github.com/kristopherjohnson/Markingbird.git
